*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
}

.chat{
    width: 800px;
    max-width: 90%;
    background-color: #d1cfcf;
}

.brand{
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand i{
    font-size: 26px;
}

.brand h1{
    font-size: 26px;
    margin-left: 10px;
}

.message-area{
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

.message-area::-webkit-scrollbar { 
    display: none;
}

.send{
    display: flex;
}

textarea{
    width: 90%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background-color: #fbfbfb;
    resize: none;
}

button{
    width: 10%;
    background-color: #8f8bef;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background-color: #8f8bef;
    color: #fff;
}

.outgoing{
    background-color: #e9eafd;
    color: #777986;
    margin-left: auto;
}

.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}